body{
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(26, 20, 8);
  
}

h1{
  text-align: center;
  margin-top: 50px;
  color: rgb(249, 207, 207);
}
.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 40px;
}
h4{
  text-align: center;
}
